body{
    background-color: #21242C;
    max-width: 100%;
    max-height: 100%;
}
html{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;

    margin-left: 2%;
    align-items: center;

}
.menu{
    margin-left: auto;
}

.room{
    font-size: 1.2rem;
    font-family: 'Cubano', sans-serif;
    font-weight: 100;
    color: white;
}

/* Edit button */
.change{
    margin: 0;
    margin-left: 5%;
    width: 104px;
    height: 35px;
    background-color: #2983FB;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sofia Pro', sans-serif;
                                                
}

/* Hero */

.info{
    display: flex;
}

.invite{
    width:9rem;
    height:3rem;
    background: #6BC5A2;
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: 1%;
    float: right;
    font-family: 'Sofia Pro', sans-serif;
    margin-left: auto;
}

.invite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.group{
    display: grid;
    grid-template-columns: 77% 25%;
    height: 100%;
}
.ppl{
    background-color: #191B1F;
    border-radius: 0px 20px 0px 0px;
}

.content{
    max-height: 100vh;
}

.menu{
    background-color: aliceblue;
    max-height: 100vh;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2.5px;
    padding: 1rem;
    justify-content: center;
}
  .video {
    background: whitesmoke;
    display: flex;
    justify-content: center;
  }
  .video:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(9/16 * 100%);
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2%;
    margin-top: 5%;

}

.button{
    width: 60px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
}

.button2{
    width: 12rem;
height: 3.5rem;
background: #EF5A5D;
border-radius: 15px;
font-family: 'Sofia Pro', sans-serif;
text-align: center;
font-size: 1.5rem;
cursor: pointer;

}

.button svg{
    color: aliceblue;
    position: relative;
    top: 55%;
    margin-top: -50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .controls{
        gap: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .button{
        width: 3rem;
        height: 3rem;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 5px;
        padding: 1rem;
    }

    .group{
        grid-template-columns: 1fr;
        right: 1%;
    }
    .menu{
        display: block;
        visibility: hidden;
    }
}

@media screen and (min-width: 1900px) {
    html{
        font-size: 180%;
    }
    .controls{
        gap: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .button{
        width: 3rem;
        height: 3rem;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-gap: 5px;
        padding: 1rem;
    }

    .group{
        grid-template-columns: 1fr;
        right: 1%;
    }
    .menu{
        display: block;
        visibility: hidden;
    }

}
