.body{
    background-color: #21242C;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

html{
    margin: 0 !important;
    padding: 0 !important;
}

h1{
    font-family: 'Cubano', sans-serif !important;
    color: black;
    font-size: 3rem;
    text-align: center;
}


nav{
    font-family: 'Cubano', sans-serif !important;
    height: 9%;
    font-size: 1.5rem;
}

.grid{
    top: 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 578px);
}

.squares{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* button */

.btn{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin:0;
    perspective: 1000px;
  }
  .btn a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'sofia pro', sans-serif;
    
  }
 .btn a:before,
  .btn a:after{
    position: absolute;
    content: "JOIN";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

  .btn a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .btn a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .btn a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  

/* button */

.btnb{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin-top:3%;
    margin-top:3%;
    perspective: 1000px;
  }
  .btnb a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'sofia pro', sans-serif;
    
  }
 .btnb a:before,
  .btnb a:after{
    position: absolute;
    content: "CREATE";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

  .btnb a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .btnb a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .btnb a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  .g{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 20%;
  }

@media screen and (max-width: 820px) {
      .grid{
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 578px);
      }
      .g{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 10%;
      }
    }

@media screen and (max-width: 500px) {
    .g{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 30%;
        margin-top: 10%;
    }

    .btn{
        right: 6.8%;
    }


}

@media screen and (min-width: 1900px) {
    html{
        font-size: 180%;
    }
    .grid{
        height: 100%;
        padding-top: 8%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 578px);
    }


}